/* mdmckenzie */

a {
    color: #3278b3;
}


.day-of-the-week {

    background-color: #f8f8f8;
    height: 200px;
    border: 2px solid white;
}

.day-of-the-week:hover {
    background-color:#ffffff;
}

.today {

    font-weight:bold;
    color: #3278b3;

}


.filler {

    background-color: #3278b3;
    color: #ffffff;
    height: 200px;
    border: 2px solid white;


}

.weekend {
    background-color: #C6C6C6;
}

.action-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    top:auto;
    padding:2px;

}