/* mdmckenzie */

a {
    color: #3278b3;
}

textarea {
    resize:none;

}


.day-of-the-week {

    background-color: #f8f8f8;
    border: 2px solid white;
}

.day-of-the-week:hover {
    background-color:#ffffff;
}

.today {

    font-weight:bold;
    color: #3278b3;

}


.filler {

    background-color: #3278b3;
    color: #ffffff;
    border: 2px solid white;


}

.weekend {
    background-color: #C6C6C6;
}

.action-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    top:auto;
    padding:2px;
}

.add-event {

    width:130px;
    border-radius:4px;
    padding: 10px;
    z-index:500;
    background-color: #5bc0de;
    opacity:0.9;
    color:white;
}

.activity {
    margin:10px;

}

.remove-icon {

    color:orangered;
    cursor:pointer;

}

.readonly {

    background-color: #5bc0de;
    border:none;
    width:100px;
}

.form-control {

    width:150px;
}

.input-group {

    width:450px
}

.input-group-addon {

    width:80px;
}

/*
Tooltip modifications
*/
